<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework"
      type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
      requirePermission="false"/>
    <!--Server-->
    <!--<section name="oracle.manageddataaccess.client" type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.121.2.0, Culture=neutral, PublicKeyToken=89b483f429c47342" />-->
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="oracle.manageddataaccess.client" type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.121.2.0, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
  </configSections>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true"/>
    <add key="LocalUrl" value="C:/temp/"/>
    <!-- Variables REST Solucion Factible -->
    <add key="URLServiciosSAT" value="https://solucionfactible.com/ServiciosSAT/ConsultaRFC/"/>
    <add key="SolucionFactibleUsuario" value="recepcion@uag.mx"/>
    <add key="SolucionFactiblePassword" value="hjaY.4f562%.kK"/>
  </appSettings>
  <system.web>
    <compilation targetFramework="4.5.2" debug="true"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.net>
    <mailSettings>
      <smtp>
        <network host="smtp.office365.com" port="587" userName="portalproveedores@edu.uag.mx" password="U53RPr0v" enableSsl="true"/>
      </smtp>
    </mailSettings>
  </system.net>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
      <provider invariantName="Oracle.ManagedDataAccess.Client"
        type="Oracle.ManagedDataAccess.EntityFramework.EFOracleProviderServices, Oracle.ManagedDataAccess.EntityFramework, Version=6.121.2.0, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <publisherPolicy apply="no"/>
        <assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <oracle.manageddataaccess.client>
    <version number="*">
      <dataSources>
        <!-- Data Source de DesarrolloUAG  -->
        <dataSource alias="DEVFACT"
          descriptor="(DESCRIPTION =(ADDRESS = (PROTOCOL = TCP)(HOST = orcdes.uag.mx)(PORT = 1521))(CONNECT_DATA =(SERVER = DEDICATED)(SERVICE_NAME = DEVFACT)))"/>
        <!-- Data Source de ProduccionOracleUAG -->
        <dataSource alias="PRNFACT"
          descriptor="(DESCRIPTION =(ADDRESS = (PROTOCOL = TCP)(HOST = probdorc.uag.mx)(PORT = 1521))(CONNECT_DATA =(SERVER = DEDICATED)(SERVICE_NAME = PRNFACT)))"/>
        <dataSource alias="SampleDataSource" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=ORCL))) "/>
      </dataSources>
    </version>
  </oracle.manageddataaccess.client>
  <connectionStrings>
    <add name="PRNFACTEntities"
      connectionString="metadata=res://*/DataBase.PRNFACT.csdl|res://*/DataBase.PRNFACT.ssdl|res://*/DataBase.PRNFACT.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;DATA SOURCE=DEVFACT;PASSWORD=VndrD3v;PERSIST SECURITY INFO=True;USER ID=VNDRFACT&quot;"
      providerName="System.Data.EntityClient"/>
    <add name="OracleDbContext" providerName="Oracle.ManagedDataAccess.Client"
      connectionString="User Id=oracle_user;Password=oracle_user_password;Data Source=oracle"/>
  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="RecibeCFDSoap11Binding">
          <security mode="Transport"/>
        </binding>
        <binding name="RecibeCFDSoap11Binding1"/>
        <binding name="MaxSizeIncreased" maxBufferPoolSize="5242880" maxBufferSize="5242880" maxReceivedMessageSize="5242880">
          <readerQuotas maxDepth="32" maxStringContentLength="5242880" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
        </binding>
      </basicHttpBinding>
      <customBinding>
        <binding name="RecibeCFDSoap12Binding">
          <textMessageEncoding messageVersion="Soap12"/>
          <httpsTransport/>
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="https://solucionfactible.com/ws/services/RecibeCFD.RecibeCFDHttpsSoap11Endpoint/" binding="basicHttpBinding"
        bindingConfiguration="RecibeCFDSoap11Binding" contract="solucionfactible.RecibeCFDPortType" name="RecibeCFDHttpsSoap11Endpoint"/>
      <endpoint address="https://solucionfactible.com/ws/services/RecibeCFD.RecibeCFDHttpsSoap12Endpoint/" binding="customBinding"
        bindingConfiguration="RecibeCFDSoap12Binding" contract="solucionfactible.RecibeCFDPortType" name="RecibeCFDHttpsSoap12Endpoint"/>
    </client>
    <services>
      <service name="UAGUtileriasSAT.UAGUtileriasSAT_cs" behaviorConfiguration="ServiceBehavior">
        <endpoint address="rest" binding="webHttpBinding" contract="UAGUtileriasSAT.IUAGUtileriasSAT" behaviorConfiguration="web"/>
        <endpoint address="" binding="basicHttpBinding" contract="UAGUtileriasSAT.IUAGUtileriasSAT"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehavior">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="web">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https"/>
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <directoryBrowse enabled="true"/>
  </system.webServer>
  <system.data>
    <DbProviderFactories>
      <remove invariant="Oracle.ManagedDataAccess.Client"/>
      <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver"
        type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.121.2.0, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
    </DbProviderFactories>
  </system.data>
</configuration>
<!--ProjectGuid: E05FCD09-B3DB-40E8-BBDB-4860F4E84BB3-->